.footer {
    display: flex;

    &__color-bar {
        width: 61.8vw;
        display: flex;

        &__section {
            outline: 1px solid $black;
            width: 20%;

            &--green {
                background: $green;
            }

            &--burgundy {
                background: $burgundy;
            }

            &--dark-blue {
                background: $dark-blue;
            }

            &--blue {
                background: $blue;
            }

            &--plum {
                background: $plum;
            }
        }

        @include for-large-screens-and-up {
            height: 2rem;
            margin-top: 1.5rem;
        }

        @include for-small-screens-and-down {
            height: 1rem;
            margin-top: 1rem;
        }
    }
}