.navigation {
    display: flex;
    align-content: center;
    justify-content: center;
    
    @include for-large-screens-and-up {
        flex: 0 0 100%;
        flex-direction: column;
    }

    @include for-small-screens-and-down {
        flex: 0 0 61.8vw;
        flex-direction: row;
        height: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    &__link {
        color: $black;
        display: flex;
        flex-direction: column;
        font-style: italic;
        justify-content: center;
        padding-bottom: .3rem;
        text-decoration: none;
        transition: background-color .5s, color .5s;

        
        @include for-large-screens-and-up {
            width: fit-content;
            position: relative;
            &:not(:last-child) {
                margin-bottom: $s-size;
            }
            
            &:before,
            &:after {
                content: '';
                background-color: lighten($moss, 20%);
                height: .2rem;
                opacity: 0;
                position: absolute;
                bottom: .2rem;
                left: 0;
                right: 0;
                transform: translateY($distance);
            }

            &:before {
                transition: transform 0s $easeOutBack, opacity 0s;
            }

            &:after {
                transition: transform $duration $easeOutBack, opacity $duration;
            }

            &:hover,
            &:focus,
            &.is-active {
                &:before,
                &:after {
                    opacity: 1;
                    transform: translateY(0);
                }

                &:before {
                    transition: transform $duration $easeOutBack, opacity $duration;
                }

                &:after {
                    transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                }
            }
        }
        
        @include for-small-screens-and-down {
            font-size: $xs-size;
            border: $black-border;
            width: 25%; 
            
            &:not(:last-child) {
                border-right: none;
            }

            &:hover {
                box-shadow: $black-box-shadow;
                font-size: $s-size;
            }

            &:focus,
            &.is-active {
                background: lighten($moss, 18%);
                color: $snow-white;
            }
        }
    }

    a {
        &.navigation__link {
            position: relative;

            
        }
    }
}