.primary-rectangle {
    border: $black-border;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    &--about {
        align-content: stretch;
    }

    &--contact {
        align-content: space-between;
    }

    @include for-large-screens-and-up {
        border-right: none;
        max-height: 50rem;
        max-width: 50rem;
        padding: 3rem;
        width: 61.8%;
    }

    @include for-small-screens-and-down {
        border-bottom: none;
        height: 61.8vw;
        padding: 2rem;
        width: 61.8vw;
    }
}