.primary-rectangle {
    border: $black-border;
    display: flex;

    @include for-large-screens-and-up {
        border-right: none;
        width: 61.8%;
    }

    @include for-small-screens-and-down {
        border-bottom: none;
        height: 61.8vw;
        width: 61.8vw;
    }
}