.secondary-text {
    font-weight: normal;

    &--about {
        text-align: justify;
    }

    @include for-large-screens-and-up {
        &--about {
            font-size: 2rem;
        }
    }

    @include for-small-screens-and-down {
        font-size: 1.6rem;

        &--about {
            font-size: 1rem;
        }
    }
}