.projects-page {
    &__project-info {
        &__code-link {
            color: $turquoise;
            font-size: calc(.8rem + .4vw);
            text-decoration: none;
            transition: color .3s ease-in-out;

            &:hover {
                color: $plum;
            }
        }
    }

    &__tech-list {
        list-style: none;
    }

    &__tech-item {
        @include for-small-screens-and-down {
            font-size: $s-size;
        }
    }

    &__project-image {
        align-self: center;
    }

    .project-tech {
        font-size: calc(.8rem + .4vw);
        &__list {
            font-size: calc(.8rem + .4vw);
        }
        
        &__list-item {
            font-size: calc(.8rem + .4vw);
            list-style: none;
        }
    }
}