.rectangle {
    display: flex;
    outline: $black-border;

    &--1 {
        height: $full-percentage;
        width: $full-percentage;
    }

    // full height rectangles
    &--2,
    &--4,
    &--6,
    &--8,
    &--10 {
        @include full-height-rectangle;
    }

    // pushed right
    &--4,
    &--6,
    &--10 {
        margin-left: auto;
    }

    // full width rectangles
    &--3,
    &--5,
    &--7,
    &--9 {
        @include full-width-rectangle;
    }

    // pushed down
    &--5,
    &--9 {
        margin-top: auto;
    }

    // grayscale rectangles
    &--1,
    &--2,
    &--3,
    &--6,
    &--8,
    &--9 {
        background-color: $smoke-white;
    }

    &--4 {
        background-color: lighten($turquoise, 30%);
    }

    &--5 {
        background-color: lighten($mustard, 20%);
    }

    &--7 {
        background-color: $catsup;
    }

    &--10 {
        background-color: $royal-blue;
    }

    @include for-large-screens-and-up {
        // full width
        &--2,
        &--4,
        &--6,
        &--8,
        &--10 {
            @include full-width-rectangle;
        }

        // pushed down
        &--2,
        &--8 {
            margin-top: auto;
        }

        // full height
        &--3,
        &--5,
        &--7,
        &--9 {
            @include full-height-rectangle;
        }

        // pushed right
        &--5,
        &--9 {
            margin-left: auto;
        }
    }
}