.rectangle {
    display: flex;
    outline: $black-border;

    &--1 {
        background-color: $ghost-white;
        height: $full-percentage;
        width: $full-percentage;
    }

    &--2 {
        background-color: $isabelline-white;
        @include full-height-rectangle;
    }

    &--3 {
        background-color: $smoke-white;
        @include full-width-rectangle;
    }
    
    &--4 {
        background-color: $platinum;
        margin-left: auto;
        @include full-height-rectangle;
    }

    &--5 {
        background-color: $mustard;
        margin-top: auto;
        @include full-width-rectangle;
    }

    &--6 {
        background-color: $snow-white;
        margin-left: auto;
        @include full-height-rectangle;   
    }

    &--7 {
        background-color: $catsup;
        @include full-width-rectangle;
    }

    &--8 {
        background-color: $magnolia-white;
        @include full-height-rectangle;
    }

    &--9 {
        background-color: $baby-powder-white;
        margin-top: auto;
        @include full-width-rectangle;
    }

    &--10 {
        background-color: $royal-blue;
        margin-left: auto;
        @include full-height-rectangle;
    
    }

    @include for-large-screens-and-up {
        &--2 {
            align-self: flex-end;
            @include full-width-rectangle;
        }

        &--3 {
            @include full-height-rectangle;
        }

        &--4 {
            @include full-width-rectangle;
        }

        &--5 {
            margin-left: auto;
            @include full-height-rectangle;
        }

        &--6 {
            @include full-width-rectangle;
        }

        &--7 {
            @include full-height-rectangle;
        }

        &--8 {
            margin-top: auto;
            @include full-width-rectangle;
        }

        &--9 {
            margin-left: auto;
            @include full-height-rectangle;
        }

        &--10 {
            @include full-width-rectangle;
        }
    }
}