@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: unset;
    padding: 0;
    border: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: $white;
  color: $black;
  font-family: $ibm-plex-mono;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  text-decoration: underline;
}