// defines thematic variables in use throughout app.

///////////
// FONTS //
///////////
$ibm-plex-mono: 'IBM Plex Mono', 'Courier', monospace;
$ibm-plex-sans: 'IBM Plex Sans', 'Helvetica', sans-serif;

////////////
// COLORS //
////////////

// grayscale:
$black: rgba(2, 6, 35, 1);
$white: #fdffff;

// blues
$blue: rgba(5, 36, 149, 1);
$blue-lightened: rgba(5, 36, 149, 0.1);
$dark-blue: rgba(24, 39, 96, 1);
$dark-blue-lightened: rgba(24, 39, 96, 0.1);

// reds:
$burgundy: rgba(74, 5, 3, 1);
$burgundy-lightened: rgba(74, 5, 3, 0.1);
$plum: rgba(96, 10, 74, 1);
$plum-lightened: rgba(96, 10, 74, 0.1);

// greens:
$green: rgba(8, 74, 56, 1);
$green-lightened: rgba(8, 74, 56, 0.1);

////////////////////
// SPACING/SIZING //
////////////////////
$desktop-breakpoint: 45rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
